<div class="mapone">
    <!-- ngFor en funcion del numero de mesas del espacio -->
    <div class="mesa">
        <div class="silla1"></div>
        <div class="silla2"></div>
        <div class="silla3"></div>
        <div class="silla4"></div>
    </div>
    <div class="mesa">
        <div class="silla1"></div>
        <div class="silla2"></div>
        <div class="silla3"></div>
        <div class="silla4"></div>
    </div>
    <div class="mesa">
        <div class="silla1"></div>
        <div class="silla2"></div>
        <div class="silla3"></div>
        <div class="silla4"></div>
    </div>
    <div class="mesa">
        <div class="silla1"></div>
        <div class="silla2"></div>
        <div class="silla3"></div>
        <div class="silla4"></div>
    </div>
    <div class="mesa">
        <div class="silla1"></div>
        <div class="silla2"></div>
        <div class="silla3"></div>
        <div class="silla4"></div>
    </div>
    <div class="mesa">
        <div class="silla1"></div>
        <div class="silla2"></div>
        <div class="silla3"></div>
        <div class="silla4"></div>
    </div>
    <div class="mesa">
        <div class="silla1"></div>
        <div class="silla2"></div>
        <div class="silla3"></div>
        <div class="silla4"></div>
    </div>
    <div class="mesa">
        <div class="silla1"></div>
        <div class="silla2"></div>
        <div class="silla3"></div>
        <div class="silla4"></div>
    </div>
</div>
