<form [formGroup]="editForm">
    <input type="text" formControlName="nombre" placeholder="Nombre">

    <input type="text" formControlName="apellidos" placeholder="Apellidos">

    <input type="text" formControlName="telefono" placeholder="Teléfono">

    <input type="text" formControlName="email" placeholder="Email">

    <input id="fecha" type="text" onfocus="(this.type='date')" formControlName="fecha" placeholder="Fecha">

    <select formControlName="hora" id="selectHora">
        <option disabled [selected]="true">Hora</option>
        <optgroup class="form-control" label="Comida">
            <option value="13:00">13:00</option>
            <option value="13:30">13:30</option>
            <option value="14:00">14:00</option>
            <option value="14:30">14:30</option>
            <option value="15:00">15:00</option>
            <option value="15:30">15:30</option>
        </optgroup>
        <optgroup class="form-control" label="Cena">
            <option value="20:30">20:30</option>
            <option value="21:00">21:00</option>
            <option value="21:30">21:30</option>
            <option value="22:00">22:00</option>
            <option value="22:30">22:30</option>
            <option value="23:00">23:00</option>
        </optgroup>
    </select>

    <div class="mesas" [ngClass]="{'nomesas': !mostrarMesas, 'mesas': mostrarMesas}">
        <p>Mesas</p>
        <!--TODO iterables, dependiendo del nºmesas  -->
        <!-- nav. espacios - mesas-->
        <div class="salonesNav">
            <div class="menumap">
                <button *ngFor="let salon of nombresSalones" (click)="getMesasSalones($event)"
                    class="seleccionado">{{salon}}</button>
            </div>
        </div>
        <!-- fin nav. espacios - mesas -->
        <div class="checkboxes">
            <!-- ngFor en funcion del numero de mesas del espacio -->
            <div class="mesa" formArrayName="numerosdemesas"
                *ngFor="let mesa of numerosdemesasFormArray.controls; let i = index">
                <input id="mesa{{i}}" type="checkbox" [formControlName]="i">
                <label for="mesa{{i}}"> Mesa {{mesasSalon[i].numero}}</label>

            </div>

        </div>
        <div class="notas">
            <textarea formControlName="nota" placeholder="Notas">  </textarea>
        </div>
        <button id="reservar" (click)="onSubmit()">Reservar</button>
    </div>
</form>