<form method="POST" [formGroup]="editForm " *ngIf="editForm">
    <div class="datos_cliente">
        <p>Nombre</p>
        <input type="text" formControlName="nombre">
        <p>Apellidos</p>
        <input type="text" formControlName="apellidos">
        <p>Teléfono</p>
        <input type="text" formControlName="telefono">
        <p>Comensales</p>
        <input type="text" formControlName="personas">
    </div>
    <div class="datos_reserva">
        <p>Fecha</p>
        <input id="fecha" type="text" onfocus="(this.type='date')" formControlName="fecha">
        <p>Mesa</p>
        <input type="text" formControlName="numerosdemesas">
        <select formControlName="hora" id="selectHora">
            <option disabled [selected]="true">Hora</option>
            <optgroup class="form-control" label="Comida">
                <option value="13:00">13:00</option>
                <option value="13:30">13:30</option>
                <option value="14:00">14:00</option>
                <option value="14:30">14:30</option>
                <option value="15:00">15:00</option>
                <option value="15:30">15:30</option>
            </optgroup>
            <optgroup class="form-control" label="Cena">
                <option value="20:30">20:30</option>
                <option value="21:00">21:00</option>
                <option value="21:30">21:30</option>
                <option value="22:00">22:00</option>
                <option value="22:30">22:30</option>
                <option value="23:00">23:00</option>
            </optgroup>
        </select>
        <div class="notas">
            <p>Notas</p>
            <textarea formControlName="nota"></textarea>
        </div>
    </div>
    <button id="reservar" (click)="onSubmit()">Enviar</button>
</form>