
form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 75%; 
    margin: 0 auto;
    height: 70vh;
}
    
    form input{
        border: none;
        font-size: 16px;
        border-radius: 16px;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid var(--color-contraste);
    }
    form .datos_cliente{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: inherit;
        flex-wrap: wrap;
        margin:40px;
        width: 28%;
    }

    .datos_cliente input {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 22px;
    }

    .datos_cliente p {
        margin-bottom: 10px;
    }

    
    .datos_reserva {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: inherit;
        flex-wrap: wrap;
        margin:40px;
        width: 28%;
    }

    .datos_reserva input {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 22px;
    }
         
    .datos_reserva select {
        padding: 22px;
        border-radius: 16px;
        margin-bottom: inherit;
        border:1px solid var(--color-contraste);;
    }

    .notas textarea {
        width: 99%;
        border-radius: 16px;
        height: 60px;
    }

    




   
    
    