
form{
    display: flex;
    flex-direction: row;
    width: 100%; 
    margin: 0 auto;
}
    
    form input{
        border: none;
        font-size: 16px;
        border-radius: 16px;
        padding-left: 10px;
        margin-bottom: 20px;
    }
    form .datos-cliente{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 40px;
    }
    
    .form-control { 
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 40px;
    }
    
     
    .mesas{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 60%;
        justify-content: space-around;
        color: var(--color-blanco);
        border: 1px solid var(--color-blanco);
        padding-top: 20px;
    }

    .form form .mesas .salonesNav button{
        background: none;
        border: 2px solid var(--blanco);
        border-top-right-radius: 8px;
        color: var(--blanco);
        margin: 0 0;
        margin-left: -2px;
        margin-right: 10px;
        height: 30px;
        font-size: 16px;
        width: fit-content;
    }

    .form form .mesas .checkboxes div{
        background: none;
        padding: 20px;
        background: none;
        box-shadow: none; 
    }
   
    
    