
form{
    display: flex;
    flex-direction: row;
    width: 100%; 
    margin: 0 auto;
}
    
    form input{
        border: none;
        font-size: 16px;
        border-radius: 16px;
        padding-left: 10px;
        margin-bottom: 20px;
    }
    form .datos_cliente{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        margin:40px 40px;
        width: 28%;
    }

    .datos_cliente input {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 22px;
    }

    .datos_reserva {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        margin:40px 40px;
        width: 28%;
    }

    .datos_reserva input {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 22px;
    }
         
    .datos_reserva select {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 22px;
        border-radius: 16px;
    }

    .notas textarea {
        width: 99%;
        border-radius: 16px;
        height: 60px;
    }

    .menunav>button{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        margin:20px 40px;
        width: 28%;
    }


    
form div button{
    width: 35%;
    height: 30px;
    font-size: 18px;
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: 30px;
    border-radius: 16px;
    align-self: center;
    color: var(--color-contraste);
    background-color: var(--blanco);
    border: 2px solid var(--color-contraste);
}
form div button:hover{
    cursor: pointer;
    color: var(--blanco);
    background-color: var(--color-contraste);
    border: 2px solid var(--color-contraste);
}



   
    
    