.maptwo{
    margin: 10px 10px;
    background-color: var(--color-contraste);
    border: 1px solid var(--color-contraste);
    /* height: 70vh; */
    display: flex;
    flex-wrap: wrap;
}


.maptwo .mesa {
    height: 100px;
    width: 100px;
    background-color: var(--color-negro);
    border-radius: 50%;
    position: relative;
    margin: 60px;
    transform: rotate(45deg);
}
.maptwo .mesa #num{
    font-size: 20px;
    color: var(--color-black);
    transform: rotateZ(-45deg);
    position: absolute;
    top: 0;
}
.maptwo .mesa .silla1{
    position: absolute;
    height: 26px;
    width: 32px;
    background-color: var(--color-negro);
    border-radius: 6px;
    top: -28px;
    left: 34px;
}
.maptwo .mesa .silla1:after{
    content: "";
    display: block;
    height: 8px;
    background-color: var(--color-negro);
    border-radius: 6px;
    margin-top: -10px;
}
.maptwo .mesa .silla2{
    position: absolute;
    height: 26px;
    width: 32px;
    background-color: var(--color-negro);
    border-radius: 6px;
    top: 102px;
    left: 34px;
}
.maptwo .mesa .silla2:after{
    content: "";
    display: block;
    height: 8px;
    background-color: var(--color-negro);
    border-radius: 6px;
    margin-top: 28px;
}
.maptwo .mesa .silla3{
    position: absolute;
    height: 26px;
    width: 32px;
    background-color: var(--color-negro);
    border-radius: 6px;
    top: 36px;
    left: -30px;
    transform: rotate(90deg);
}
.maptwo .mesa .silla3:after{
    content: "";
    display: block;
    height: 8px;
    background-color: var(--color-negro);
    border-radius: 6px;
    margin-top: 28px;
}
.maptwo .mesa .silla4{
    position: absolute;
    height: 26px;
    width: 32px;
    background-color: var(--color-negro);
    border-radius: 6px;
    top: 36px;
    right: -30px;
    transform: rotate(-90deg);
}
.maptwo .mesa .silla4:after{
    content: "";
    display: block;
    height: 8px;
    background-color: var(--color-negro);
    border-radius: 6px;
    margin-top: 28px;
}

