.map{
    margin: 0 auto;
}
.map .container{
    background-color: var(--gris);
    border: 1px solid var(--gris);
}


/* Fondo mapa */
.mapone{
    margin: 10px 10px;
    background-color: var(--blanco);
    display: flex;
    flex-wrap: wrap;
}


/** RELOJ */
.mapone .reloj{
    width: 100%;
    margin-top: 20px;
}
.map .container .reloj{
    display: flex;
    justify-content: center;
    font-family: var(--fuente);
    font-weight: 100;
    font-size: 20px;
    color: var(--negro);
}
.map .container .reloj span i{
    margin-right: 10px;
    margin-left: 10px;
}



/** MESAS */
.mapone .mesas{
    display: flex;
    flex-wrap: wrap;
}
/* MODELO DE MESA CON SILLAS PARA MAPAS */
.mapone .mesa {
    height: 100px;
    width: 100px;
    /* background-color: var(--negro); */
    border: 1px solid var(--negro);
    border-radius: 50%;
    position: relative;
    margin: 60px;
    transform: rotateZ(45deg);
}
/* clase a aplicar si la mesa esta ocupada */
.mapone .mesaocupada{
    background-color: var(--color-contraste);
}
.mapone .mesa #num{
    font-size: 20px;
    color: var(--negro);
    transform: rotateZ(-45deg);
    position: absolute;
    top: 0;
}
.mapone .mesa .silla1{
    position: absolute;
    height: 26px;
    width: 32px;
    /* background-color: var(--negro); */
    border: 1px solid var(--negro);
    border-radius: 6px;
    top: -28px;
    left: 34px;
}
.mapone .mesa .silla1:after{
    content: "";
    display: block;
    height: 8px;
    /* background-color: var(--negro); */
    border: 1px solid var(--negro);
    border-radius: 6px;
    margin-top: -10px;
}
.mapone .mesa .silla2{
    position: absolute;
    height: 26px;
    width: 32px;
    /* background-color: var(--negro); */
    border: 1px solid var(--negro);
    border-radius: 6px;
    top: 102px;
    left: 34px;
}
.mapone .mesa .silla2:after{
    content: "";
    display: block;
    height: 8px;
    /* background-color: var(--negro); */
    border: 1px solid var(--negro);
    border-radius: 6px;
    margin-top: 28px;
}
.mapone .mesa .silla3{
    position: absolute;
    height: 26px;
    width: 32px;
    /* background-color: var(--negro); */
    border: 1px solid var(--negro);
    border-radius: 6px;
    top: 36px;
    left: -30px;
    transform: rotate(90deg);
}
.mapone .mesa .silla3:after{
    content: "";
    display: block;
    height: 8px;
    /* background-color: var(--negro); */
    border: 1px solid var(--negro);
    border-radius: 6px;
    margin-top: 28px;
}
.mapone .mesa .silla4{
    position: absolute;
    height: 26px;
    width: 32px;
    /* background-color: var(--negro); */
    border: 1px solid var(--negro);
    border-radius: 6px;
    top: 36px;
    right: -30px;
    transform: rotate(-90deg);
}
.mapone .mesa .silla4:after{
    content: "";
    display: block;
    height: 8px;
    /* background-color: var(--negro); */
    border: 1px solid var(--negro);
    border-radius: 6px;
    margin-top: 28px;
}

