.form{
    background-color: var(--color-negro);
    width: 90%;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 16px;
    font-family: 'Mukta', sans-serif;
}
form{
    padding: 40px;
    display: flex;
    flex-direction: column;
}
form p{
    color: grey;
    font-size: 16px;
    margin-bottom: 10px;
}
form input{
    border: none;
    font-size: 16px;
    border-radius: 16px;
    padding-left: 10px;
    margin-bottom: 20px;
    height: 25px;
}
form input:focus{
    outline: none;
    border: 2px solid var(--color-contraste);
}


/* ----  DATOS CLIENTE  ---- */
form .datos-cliente{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
form .datos-cliente #nombre, #apellidos{
    width: 26%;
}
form .datos-cliente #telefono{
    width: 10%;
}
form .datos-cliente #email{
    width: 26%;
}
form .datos-cliente:after{
    content: "";
    display: block;
    width: 12%;
    margin: 0 auto;
    margin-top: 40px;
    border-bottom: 1px solid grey;
}


/* ----  DATOS RESERVA  ---- */
form .datos-reserva{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
form .datos-reserva #fecha{
    width: 30%;
}
form .datos-reserva select{
    width: 30%;
    border: none;
    font-size: 16px;
    border-radius: 16px;
    padding-left: 10px;
    margin-bottom: 20px;
    height: 25px;
}
form .datos-reserva #pax{
    width: 30%;
}
form .datos-reserva:after{
    content: "";
    display: block;
    width: 12%;
    margin: 0 auto;
    margin-top: 40px;
    border-bottom: 1px solid grey;
}
.mesas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: var(--color-blanco);
    border: 1px solid var(--color-blanco);
    padding: 20px;
} 

/* CHECKBOX */

[type="checkbox"] {
    display: none;
}
.mesas div span{
    margin-left: 16px;
}
label:before {
    content: ' ';
    border: solid 1px var(--color-blanco);
    width: 0.8em;
    height: 0.8em;
    position: absolute;
    /* margin-right: 20px; */
}

[type="checkbox"]:checked + label:before {
    color: var(--color-contraste);
    border-color: var(--color-contraste) ;
    content: '\f00c';
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
}


form .nota-firma{
    display: flex;
    /* justify-content: space-between; */
    /* flex-wrap: wrap; */
    margin-top: 40px;
}
form .nota-firma .nota{
    width: 40%;
}
form .nota-firma .firma{
    width: 40%;
}





