<div class="form">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <p>Datos del cliente</p>
        <div class="datos-cliente">
            <input id="nombre" type="text" formControlName="nombre" placeholder="Nombre">
            <input id="apellidos" type="text" formControlName="apellidos" placeholder="Apellidos">
            <input id="telefono" type="text" formControlName="telefono" placeholder="Teléfono">
            <input id="email" type="text" formControlName="email" placeholder="Email">
        </div>
        <p>Datos de la reserva</p>
        <div class="datos-reserva">
            <input id="fecha" type="date" formControlName="fecha" placeholder="Fecha">
            <select formControlName="servicios">
                <optgroup class="form-control" label="Turno Comida">
                    <option value="turno_comida1">13:00</option>
                    <option value="turno_comida2">13:30</option>
                    <option value="turno_comida3">14:00</option>
                    <option value="turno_comida4">14:30</option>
                    <option value="turno_comida5">15:00</option>
                    <option value="turno_comida6">15:30</option>
                </optgroup>
                <optgroup class="form-control" label="Turno Cena">
                    <option value="turno_cena1">20:30</option>
                    <option value="turno_cena2">21:00</option>
                    <option value="turno_cena3">21:30</option>
                    <option value="turno_cena4">22:00</option>
                    <option value="turno_cena5">22:30</option>
                    <option value="turno_cena6">23:00</option>
                </optgroup>
            </select>
            <input id="pax" type="number" min="1" formControlName="personas" placeholder="pax">
        </div>

        <div class="mesas">
            <div>
                <input type="checkbox" value="mesa-1" formControlName="numero_mesa1" id="mesa1">
                <label for="mesa1"></label> 
                <span>Mesa 1</span>
            </div>

            <div>
                <input type="checkbox" value="mesa-2" formControlName="numero_mesa2" id="mesa2">
                <label for="mesa2"></label> 
                <span>Mesa 2</span>
            </div>
            <div>
                <input type="checkbox" value="mesa 3" formControlName="numero_mesa3" id="mesa3">
                <label for="mesa3"></label> 
                <span>Mesa 3</span>
            </div>
            <div>
                <input type="checkbox" value="mesa-4" formControlName="numero_mesa4" id="mesa4">
                <label for="mesa4"></label> 
                <span>Mesa 4</span>
            </div>
            <div>
                <input type="checkbox" value="mesa-5" formControlName="numero_mesa5" id="mesa5">
                <label for="mesa5"></label> 
                <span>Mesa 5</span>
            </div>
            <div>
                <input type="checkbox" value="mesa-6" formControlName="numero_mesa6" id="mesa6">
                <label for="mesa6"></label> 
                <span>Mesa 6</span>
            </div>
            <div>
                <input type="checkbox" value="mesa-7" formControlName="numero_mesa7" id="mesa7">
                <label for="mesa7"></label> 
                <span>Mesa 7</span>
            </div>
            <div>
                <input type="checkbox" value="mesa-8" formControlName="numero_mesa8" id="mesa8">
                <label for="mesa8"></label>
                <span>Mesa 8</span>
            </div>
            <div>
                <input type="checkbox" value="mesa-9" formControlName="numero_mesa9" id="mesa9">
                <label for="mesa9"></label> 
                <span>Mesa 9</span>
            </div>
            <div>
                <input type="checkbox" value="mesa-10" formControlName="numero_mesa10" id="mesa10">
                <label for="mesa10"></label> 
                <span>Mesa 10</span>
            </div>
        </div>

        <div class="nota-firma">
            <div class="nota">
                <textarea formControlName="nota" placeholder="Notas">  </textarea>
            </div>

            <div class="firma">
                <input type="submit" class="form-control" value="Pedro">
                <input type="submit" class="form-control" value="Javier">
                <input type="submit" class="form-control" value="Estela">
            </div>
        </div>
    </form>
</div>