
.fondo{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.6;
}
.login{
    width: 100%;
    height: 100vh;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.logo{
    width: 300px;
}
.logo img{
    width: 100%;
}
.pass .form{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}
.pass .form input{
    height: 40px;
    font-size: 20px;
    padding-left: 20px;
    border: none;
    border-radius: 20px;
}
.pass .form input:focus{
    outline: none;
}
.pass .form i{
    position: absolute;
    right: 15px;
    color: var(--color-negro);
    font-size: 30px;
}
.pass .form i:hover{
    cursor: pointer;
}
