.nav{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    font-family: var(--fuente);
}
.nav .menu{
    width: 30%;
    display:flex;
    justify-content: space-between;
}
.nav .menu button{
    background: none;
    border: none;
    font-weight: 100;
    font-size: 26px;
    text-transform: uppercase;
}
.activated:after{
    content: "";
    display: block;
    height: 4px;
    width: 60%;
    margin: 0 auto;
    margin-top: 2px;
    background-color: var(--color-contraste);
}
.nav .menu button:hover{
    cursor: pointer;
}
.nav .out{
    margin-left: auto;
}
.nav .out button{
    border: none;
    background: none;
    color: var(--negro);
    font-size: 30px;
}
.nav .out button:hover{
    cursor: pointer;
}



/* ---- nav map ---- */
.menumap{
  margin-top: 40px;
  width: 96%;
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
}
.menumap>button{
  background-color: var(--gris);
  border: none;
  border-top-right-radius: 8px;
  color: var(--negro);
  font-weight: 100;
  font-size: 20px;
  padding: 6px 20px;
  border-bottom: 4px solid var(--blanco);
}
.menumap>button:first-of-type{
  margin-right: 10px;
}
.menumap button:hover{
  cursor: pointer;
}

.menumap>button.activo-salon{
  border-bottom: 4px solid var(--negro);
  color: crimson;
}



/* ---- nav book ---- */
.bookNav{
    display: flex;
    margin-top: 40px;
    background-color: var(--blanco);
    font-size: 20px;
    color: var(--negro);
    font-family: var(--fuente);
    font-weight: 400;
    align-items: center;
    justify-content: center;
    padding: 5px;
  }
  .bookNav button{
    background: none;
    border: none;
    padding-right: 20px;
  }
  .bookNav button:hover{
    cursor: pointer;
  }
  .bookNav button:last-of-type{
    transform: rotate(180deg);
    padding-left: 20px;
  }
  .bookNav button i{
    font-size: 40px;
    color: var(--color-contraste);
    pointer-events: none;
  }


  