.nav{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
}
.nav .menu{
    width: 30%;
    display:flex;
    justify-content: space-between;
}
.nav .menu button{
    background: none;
    border: none;
    font-family: 'Righteous', cursive;
    font-size: 26px;
    text-transform: uppercase;
}
.activated:after{
    content: "";
    display: block;
    height: 10px;
    width: 110%;
    margin: 0 auto;
    margin-top: -14px;
    margin-left: -5px;
    background-color: var(--color-contraste);
}
.nav .menu button:hover{
    cursor: pointer;
}
.nav .out{
    margin-left: auto;
}
.nav .out button{
    border: none;
    background: none;
    color: var(--color-negro);
    font-size: 30px;
}
.nav .out button:hover{
    cursor: pointer;
}


/* ---- nav book ---- */
.bookNav{
    display: flex;
    margin-top: 40px;
    background-color: rgb(40, 40, 40);
    font-size: 20px;
    color: var(--color-blanco);
    font-family: 'Mukta', sans-serif;
    align-items: center;
    justify-content: center;
    padding: 5px;
  }
  .bookNav button{
    background: none;
    border: none;
    padding-right: 20px;
  }
  .bookNav button:hover{
    cursor: pointer;
  }
  .bookNav button:last-of-type{
    transform: rotate(180deg);
    padding-left: 20px;
  }
  .bookNav button i{
    font-size: 40px;
    color: var(--color-contraste);
    pointer-events: none;
  }