<div class="nav">
    <div class="menu">
        <!-- BOTÓN MAP -->
        <button [routerLink]="['/home/map', salonInicial]" routerLinkActive="activated" (click)="mostrar($event)" value="map"> map </button>
        <!-- BOTÓN BOOK -->
        <button [routerLink]="['/home/book', fechaConsulta]" routerLinkActive="activated" (click)="mostrar($event)" value="book"> book </button>
        <!-- BOTÓN RESERVAR -->
        <button routerLink="/home/reservation" routerLinkActive="activated" (click)="mostrar($event)" value="form"> reserve </button>
    </div>
    <!-- BOTÓN SIGN OUT -->
    <div class="out">
        <button routerLink="/login" (click)="mostrar($event)"> <i class="fas fa-sign-out-alt"></i> </button>
    </div>
</div>


<!-- nav. mapas si está activa la ruta MAP-->
<div *ngIf="mostrarMap" class="mapNav" >
    <div class="menumap" > 
        <button *ngFor="let salon of salones" (click)="getMapaSeleccionado($event)">{{salon}}</button>
    </div>
</div>
<!-- fin nav. map -->


<!-- nav. páginas de book si está activa la ruta BOOK-->
<div *ngIf="mostrarBook" class="bookNav">
    <button value="menosDia" (click)="getDesplazamientoConsulta($event)" ><i class="fas fa-caret-left"></i></button>
        <!-- Me cago en tu puta madre -->
        {{ fechaConsulta | date: 'dd . MMMM . yyyy' }}
    <button value="masDia" (click)="getDesplazamientoConsulta($event)" > <i class="fas fa-caret-left"></i> </button>
</div>
<!-- fin nav. book -->


<!-- nav. form si está activa la ruta RESERVE-->
<div *ngIf="mostrarForm" class="formNav">

</div>
<!-- fin nav. RESERVE -->

