*{
  box-sizing: border-box;
}
.book{
  color: var(--negro);
  font-family: var(--fuente);
  font-weight: 100;
}



/* ---- Tabla reservas ---- */
table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}



/* ---- cabecera ---- */
table thead{
  text-transform: uppercase;
  font-size: 20px;
  color: var(--color-contraste);
  text-align: center;
}
table thead th{
  padding: 15px;
  border-right: 1px solid var(--gris);
  border-top: 1px solid var(--gris)
}
table thead th:nth-child(6){
  border-right: 0;
}
table thead th:last-of-type{
  border-right: none;
}

/* ---- body ---- */
table tbody{
  letter-spacing: 1px;
}
/*? hora */
thead th:nth-child(1) {
  width: 10%;
}
/*? nombre */
thead th:nth-child(2) {
  width: 27%;
}
/*? mesa */
thead th:nth-child(3) {
  width: 10%;
}
/*? telefono */
thead th:nth-child(4) {
  width: 20%;
}
/*? pax */
thead th:nth-child(5){
  width: 8%;
}
/*? notas */
thead th:nth-child(6){
  width: 20%;
}
/*? Editar */
thead th:nth-child(7){
  width: 5%;
}
table td{
  text-align: left;
  padding: 20px;
}
table td:first-child{
  padding-left: 40px;
  color: var(--negro);
  font-weight: 400;
}



/* ----- cebra ---- */
table tr:nth-child(even) {
  background-color: var(--blanco);
}
table tr:nth-child(odd) {
  background-color: var(--gris);
}


/* ---- Botón editar ---- */
/* .pen{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: var(--color-contraste);
  color: var(--blanco);
  position: relative;
} */
.pen i{
  /* position: absolute;
  left: 8px;
  top: 6px; */
  color: var(--color-contraste);
  font-size: 24px;
}
.pen i:hover{
  cursor: pointer;
}

 