<div class="book">
    <table>
        <thead>
            <th>Hora</th>
            <th>Nombre</th>
            <th>Mesa</th>
            <th>Teléfono</th>
            <th>Pax</th>
        </thead>
        <tbody>
            <tr *ngFor="let reserva of reservasDelDia">
                <td>{{reserva.hora}}}</td>
                <td>{{reserva.nombre}}</td>
                <td>{{reserva.mesas}}</td> <!--habria uqe reccorer array mesas-->
                <td>{{reserva.telefono}}</td>
                <td>{{reserva.pax}}</td>
            </tr>
        </tbody>
    </table>
</div>