*{
  box-sizing: border-box;
}
.book{
  /* background-color: var(--negro); */
  color: var(--negro);
  font-family: var(--fuente);
  font-weight: 100;
}

/* ---- Tabla reservas ---- */
table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}

/* ---- cabecera ---- */
table thead{
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
}
table thead th{
  padding: 15px;
  border-right: 1px solid var(--gris);
  border-top: 1px solid var(--gris)
}
table thead th:last-of-type{
  border-right: none;
}

/* ---- body ---- */
table tbody{
  letter-spacing: 1px;
}
/*? hora */
thead th:nth-child(1) {
  width: 10%;
}
/*? nombre */
thead th:nth-child(2) {
  width: 32%;
}
/*? mesa */
thead th:nth-child(3) {
  width: 10%;
}
/*? telefono */
thead th:nth-child(4) {
  width: 20%;
}
/*? pax */
thead th:nth-child(5){
  width: 8%;
}
/*? notas */
thead th:nth-child(6){
  width: 20%;
}
table td{
  text-align: left;
  padding: 20px;
}
table td:first-child{
  padding-left: 40px;
  color: var(--negro);
  font-weight: 400;
}

/* ----- cebra ---- */

table tr:nth-child(even) {
  background-color: var(--blanco);
}
table tr:nth-child(odd) {
  background-color: var(--gris);
}

 