<div class="book">
    <div class="block">
        <div class="anilla"></div>
        <div class="anilla"></div>
        <div class="anilla"></div>
        <div class="anilla"></div>
    </div>
    <table>
        <thead>
            <th>Hora</th>
            <th>Nombre</th>
            <th>Mesa</th>
            <th>Teléfono</th>
            <th>Pax</th>
            <th>Notas</th>
            <th></th>
        </thead>
        <tbody>
            <tr *ngFor="let reserva of reservasDelDia">
                <td>{{reserva.hora_inicio }}</td>
                <td>{{reserva.cliente.nombre+' '}}{{reserva.cliente.apellidos}}</td>
                <td>
                    {{reserva.mesas}}
                    <!--! si mesas viene en array de integers:  -->
                    <!-- <span *ngFor="let mesa of reserva.mesas; let i = index; let first = first">
                        <span *ngIf = "first" >{{mesa}}</span>
                        <span *ngIf = "!first">, {{mesa}} </span>
                    </span> -->
                </td>
                <td>{{reserva.cliente.telefono}}</td>
                <td>{{reserva.pax}}</td>
                <td>{{reserva.notas}}</td>
                <td><button class="pen" [routerLink]="['/home/book/edit',reserva.id]"><i
                            class="fas fa-pen"></i></button>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="formularioEditarReserva" *ngIf="editForm">
        <router-outlet></router-outlet>
    </div>

</div>